@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

html {
  scroll-behavior: smooth;
}

.hero-gradient {
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0, 0.75) -100%,
    rgb(0, 0, 0, 0.49) 22%,
    rgb(0, 0, 0, 0.44) 53%,
    rgb(0, 0, 0, 0) 100%
  );
}

.menu-items a:hover {
  text-shadow: 0 0 0.01px #474747, 0 0 0.01px #474747, 0 0 0.01px #474747;
}

/* scroll animation css */
.js-scroll {
  opacity: 0;
  transition: opacity 400ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.reveal-from-bottom {
  animation: reveal-from-bottom 0.8s ease-in-out both;
}

@keyframes reveal-from-bottom {
  0% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 0.8s ease-in-out both;
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.scrolled.fade-in-left {
  animation: fade-in-left 0.8s ease-in-out both;
}

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.scrolled.fade-in-right {
  animation: fade-in-right 0.8s ease-in-out both;
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.notice-window {
    display: none;
}

@media only screen and (max-width: 1112px) {
    main {
        display: none;
    }
    nav, footer {
        display: none;
    }
    .notice-window {
        display: block;
    }
}